@import (css) '~normalize.css';
@import (css) '~material-design-icons-iconfont/dist/material-design-icons.css';
@import 'variables.less';

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma;
	font-size: 14px;
	color: @color-text;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

input,
textarea,
button {
	outline: none;
	font-size: 14px;
}

.b_page {

	&__content {
		max-width: 500px;
		margin: 0 auto;
		padding-bottom: 25px;
	}
}
