@import 'variables.less';

.b_gallery {
	position: relative;
	max-width: 600px;
	min-height: 100px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);

	&__list {
		display: flex;
		height: 100%;
		transition: transform .35s ease-in-out;
	}

	&__navigation {
		display: flex;
    	justify-content: space-between;
		align-items: stretch;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__prev_area,
	&__next_area {
		display: flex;
		align-items: center;
		color: @color-bg;
		height: 100%;
		opacity: 0.6;
		font-size: 90px;
		cursor: pointer;
		text-align: center;
		user-select: none;

		@media (max-width: 500px) {
			font-size: 60px;
		}
		@media (max-width: 430px) {
			font-size: 50px;
		}
	}

	&__prev_area {
		background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	}

	&__next_area {
		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	}

	&__arrow_icon,
	&__arrow_icon.material-icons, {
		display: block;
		font-size: 75px;
	}

	&__item {
		position: relative;
		margin: 0;
		flex-direction: column;
		flex-flow: column;
		min-height: 100px;
		min-width: 100%;
	}

	&__image {
		display: block;
		opacity: 0;
		width: 100%;
		height: 0;
		transition: opacity 0.5s ease-in-out;

		&--loaded {
			opacity: 1;
			height: auto;
		}
	}

}
